@layer components {
  .dropdown__container {
    position: relative;
    display: inline-block;

    & .dropdown__toggler {
      cursor: var(--cursor-pointer);
      -webkit-user-select: none;
      user-select: none;
      padding: 0.5rem 1rem;
      border: none;
      background-color: #1818186f;
      color: var(--color-text);
      letter-spacing: 0.05rem;
      transition: background-color 0.2s;

      &:hover {
        background-color: #ffffff43;
      }

      &:active {
        background-color: #ffffff1a;
      }
    }

    & .dropdown__menu {
      position: absolute;
      background-color: var(--color-background-2);
      min-width: 160px;
      box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius);
      z-index: 1;
      padding: 0.5rem 0;

      & li {
        color: var(--color-text);
        padding: 0.2rem 1.5rem;
        text-decoration: none;
        display: block;
        cursor: var(--cursor-pointer);

        &:hover {
          background-color: #ffffff1a;
        }
      }

      & hr {
        border: none;
        border-top: 1px solid var(--color-border);
        margin: 0.5rem 0;
      }
    }

    &.active ul {
      display: block;
    }
  }
}