@layer components {
  .about-me {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.02' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    & hr {

      margin: 0;
      width: 50%;
      border: none;
      border-top: 1px solid var(--c-text);

    }

    @media screen {
      @media (max-width: 600px) {
        & h2 {
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--c-text);
          text-align: center;
          text-shadow: 0 1px 2px #0000004c;
        }

        & .about-me-wraper {
          height: 100%;
          padding: 1rem;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          & img {
            object-fit: contain;
            object-position: center;
            width: 100%;
            max-width: 15rem;
            border-radius: 50%;
            margin-right: 1rem;
          }

          & p {

            margin: 0;
            padding: 0.5rem 0;
            font-size: 1.1rem;
            line-height: 1.5;
            text-align: justify;
          }
        }
      }

      @media (min-width: 600px) {
        & h2 {
          font-size: 2rem;
          font-weight: 600;
          color: var(--c-text);
          text-align: center;
          padding: 2rem;
          text-shadow: 0 1px 2px #0000004c;
        }

        & .about-me-wraper {
          padding: 5rem;
          overflow-y: auto;
          min-width: 680px;
          height: fit-content;

          & img {
            float: left;
            shape-outside: circle();
            shape-margin: 0.7rem;
            clip-path: circle();
            object-fit: contain;
            object-position: center;
            width: 100%;

            max-height: 15rem;
            max-width: 15rem;
            border-radius: 50%;
            margin-right: 1rem;

          }

          & p {
            margin: 0;
            padding: 0.5rem 0;
            font-size: 1.1rem;
            line-height: 2;
            text-align: justify;
            letter-spacing: 0.5px;

          }
        }
      }
    }
  }

  .skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: safe;
    gap: 1rem;


    & li {
      padding: 0.5rem 1rem;
      background: var(--c-accent);
      -webkit-user-select: none;
      user-select: none;
      border-radius: var(--border-radius);
      font-size: 0.9rem;
    }
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .project-card {
    padding: 1rem;
    border-radius: var(--border-radius);
    background: #1f3449;
    box-shadow: 0 2px 8px #0000001a;
  }

  .contact-form {
    display: grid;
    gap: 1rem;
    padding: 5px;
    width: 100%;

    & label {
      font-weight: 500;
    }

    & input, & textarea {
      width: 100%;
      min-width: 300px;
      max-width: 600px;
      padding: 0.5rem;

      background-color: var(--c-background-focus);
      border: 1px solid var(--c-background-focus);
      border-radius: var(--border-radius);
      font-family: inherit;

      &:focus {
        outline: none;
        background-color: var(--c-background);
      }
    }

    & textarea {
      min-height: 150px;
      resize: vertical;
      color: inherit;
    }

    & button {
      justify-self: start;
      padding: 0.8rem 2rem;
      background: var(--c-accent);
      border: none;
      border-radius: var(--border-radius);
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s;
      color: inherit;

      &:hover {
        background: var(--c-accent-hover);
      }
    }
  }
}