@layer components {
  .about-text {
    text-align: justify;
    max-width: 500px;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: safe;
    gap: 1rem;
    list-style: none;

    & li {
      padding: 0.5rem 1rem;
      background: var(--c-accent);
      -webkit-user-select: none;
      user-select: none;
      border-radius: var(--border-radius);
      font-size: 0.9rem;
    }
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .project-card {
    padding: 1rem;
    border-radius: var(--border-radius);
    background: #1f3449;
    box-shadow: 0 2px 8px #0000001a;
  }

  .contact-form {
    display: grid;
    gap: 1rem;
    padding: 5px;
    width: 100%;

    & label {
      font-weight: 500;
    }

    & input, & textarea {
      width: 100%;
      min-width: 300px;
      max-width: 600px;
      padding: 0.5rem;

      background-color: var(--c-background-focus);
      border: 1px solid var(--c-background-focus);
      border-radius: var(--border-radius);
      font-family: inherit;

      &:focus {
        outline: none;
        background-color: var(--c-background);
      }
    }

    & textarea {
      min-height: 150px;
      resize: vertical;
      color: inherit;
    }

    & button {
      justify-self: start;
      padding: 0.8rem 2rem;
      background: var(--c-accent);
      border: none;
      border-radius: var(--border-radius);
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s;
      color: inherit;

      &:hover {
        background: var(--c-accent-hover);
      }
    }
  }
}