@layer components {

  /* Main container for the desktop layout */
  .desktop {
    height: 100vh;
    position: relative;
    background: var(--color-background) !important;
    overflow: hidden;
    top: 0;
    left: 0;

    /* Container for desktop icons */
    .desktop-icons {
      padding: 1rem;
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: repeat(auto-fill, 80px);
      gap: 1rem;
      position: relative;
      z-index: 1;

      /* Individual desktop icon styling */
      .desktop-icon {
        padding-top: 0.3rem;
        width: fit-content;
        height: fit-content;
        min-width: 90px;
        min-height: 50px;
        max-height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: #ffffff;
        cursor: pointer;
        line-height: 1.2;
        border-radius: 0.5rem;
        transition: background-color 0.2s;
        -webkit-user-select: none;
        user-select: none;
        overflow: hidden;



        /* Hover effect for desktop icons */
        &:hover {

          background-color: #ffffff1a;
        }

        /* Icon inside the desktop icon */
        i {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }

        /* Label text for the desktop icon */
        .icon-text {
          text-align: center;
          text-overflow: ellipsis;
          white-space: normal;
          word-wrap: break-word;
          font-size: 0.8rem;

        }
      }
    }
  }
}