@layer components {
  .desktop {
    height: 100vh;
    position: relative;
    background: var(--color-background) !important;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  .desktop-icons {
    padding: 1rem;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, 80px);
    gap: 1rem;
    position: relative;
    z-index: 1;
  }

  .desktop-icon {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    -webkit-user-select: none;
    user-select: none;
    text-overflow: ellipsis;

    &:hover {
      background-color: #ffffff1a;
    }

    & i {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    & span {
      font-size: 0.8rem;
      word-wrap: break-word;
    }
  }
}