.icon {
  width: 25px;
  height: 25px;
  background-color: var(--color-text);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  display: inline-block;

  &.about {
    -webkit-mask-image: url('/icons/user.svg');
    mask-image: url('/icons/user.svg');
  }

  &.skills {
    -webkit-mask-image: url('/icons/tools.svg');
    mask-image: url('/icons/tools.svg');
  }

  &.projects {
    -webkit-mask-image: url('/icons/folder.svg');
    mask-image: url('/icons/folder.svg');
  }

  &.contact {
    -webkit-mask-image: url('c/icons/envelope.svg');
    mask-image: url('/icons/envelope.svg');
  }

  &.window-icon {
    -webkit-mask-image: url('/icons/window_icon.svg');
    mask-image: url('/icons/window_icon.svg');
  }

  &.minimize {
    -webkit-mask-image: url('/icons/minus.svg');
    mask-image: url('/icons/minus.svg');
  }

  &.maximize {
    -webkit-mask-image: url('/icons/arrows_pointing_out.svg');
    mask-image: url('/icons/arrows_pointing_out.svg');
  }

  &.restore {
    -webkit-mask-image: url('/icons/arrows_pointing_in.svg');
    mask-image: url('/icons/arrows_pointing_in.svg');
  }

  &.close {
    -webkit-mask-image: url('/icons/not_icon.svg');
    mask-image: url('/icons/not_icon.svg');
  }

  &.sort {
    -webkit-mask-image: url('/icons/sort.svg');
    mask-image: url('/icons/sort.svg');
  }

  &.refresh {
    -webkit-mask-image: url('/icons/refresh.svg');
    mask-image: url('/icons/refresh.svg');
  }

  &.new {
    -webkit-mask-image: url('/icons/new.svg');
    mask-image: url('/icons/new.svg');
  }

  &.download {
    -webkit-mask-image: url('/icons/arrow_down_tray.svg');
    mask-image: url('/icons/arrow_down_tray.svg');
  }

  &.resize {
    -webkit-mask-image: url('/icons/resize_corner.svg');
    mask-image: url('/icons/resize_corner.svg');
  }

  &.view {
    -webkit-mask-image: url('/icons/squares.svg');
    mask-image: url('/icons/squares.svg');
  }

  &.plus-circle {
    -webkit-mask-image: url('/icons/plus_circle.svg');
    mask-image: url('/icons/plus_circle.svg');
  }

  &.new-file {
    -webkit-mask-image: url('/icons/new_file.svg');
    mask-image: url('/icons/new_file.svg');
  }

  &.search {
    -webkit-mask-image: url('/icons/magnify_glass.svg');
    mask-image: url('/icons/magnify_glass.svg');
  }

  &.paint {
    -webkit-mask-image: url('/icons/paint_brush_solid.svg');
    mask-image: url('/icons/paint_brush_solid.svg');
  }

  &.color-picker {
    -webkit-mask-image: url('/icons/dropper.svg');
    mask-image: url('/icons/dropper.svg');
  }
}