@layer components {

  .desktop-icons-wrapper {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    flex-wrap: wrap;
    gap: 1.6rem 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: calc(100vh - var(--taskbar-height));


    /* Individual desktop icon styling */
    .desktop-icon {
      padding: 0.3rem 0;
      width: 5rem;
      height: 4.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      color: #ffffff;
      cursor: pointer;
      line-height: 1.2;
      border-radius: 0.5rem;
      transition: filter 0.2s ease-in-out,text-shadow 0.2s ease-in-out;


      /* Hover effect for desktop icons */
      &:hover, &:focus {
        transition: all 0.2s;
        filter: drop-shadow(0px 0px 25px #ffffff);
        text-shadow: 0px 0px 15px #ffffff;
        /* background-color: #ffffff1a; */
        /* box-shadow: 0 0 10px #ffffff1a; */
        color: var(--color-text);
        -webkit-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-drag: none;
        -webkit-app-region: no-drag;
      }

      /* Icon inside the desktop icon */
      i {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      /* Label text for the desktop icon */
      .icon-text {
        width: 5rem;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        word-wrap: break-word;
        font-size: 0.8rem;


        -webkit-user-select: none;
        user-select: none;
      }
    }
  }
}

.icon {
  width: 25px;
  height: 25px;
  background-color: var(--color-text);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  display: inline-block;

  &.about {
    -webkit-mask-image: url('/icons/user.svg');
    mask-image: url('/icons/user.svg');
  }

  &.skills {
    -webkit-mask-image: url('/icons/tools.svg');
    mask-image: url('/icons/tools.svg');
  }

  &.projects {
    -webkit-mask-image: url('/icons/folder.svg');
    mask-image: url('/icons/folder.svg');
  }

  &.contact {
    -webkit-mask-image: url('c/icons/envelope.svg');
    mask-image: url('/icons/envelope.svg');
  }

  &.window-icon {
    -webkit-mask-image: url('/icons/window_icon.svg');
    mask-image: url('/icons/window_icon.svg');
  }

  &.minimize {
    -webkit-mask-image: url('/icons/minus.svg');
    mask-image: url('/icons/minus.svg');
  }

  &.maximize {
    -webkit-mask-image: url('/icons/arrows_pointing_out.svg');
    mask-image: url('/icons/arrows_pointing_out.svg');
  }

  &.restore {
    -webkit-mask-image: url('/icons/arrows_pointing_in.svg');
    mask-image: url('/icons/arrows_pointing_in.svg');
  }

  &.close {
    -webkit-mask-image: url('/icons/not_icon.svg');
    mask-image: url('/icons/not_icon.svg');
  }

  &.sort {
    -webkit-mask-image: url('/icons/sort.svg');
    mask-image: url('/icons/sort.svg');
  }

  &.refresh {
    -webkit-mask-image: url('/icons/refresh.svg');
    mask-image: url('/icons/refresh.svg');
  }

  &.new {
    -webkit-mask-image: url('/icons/new.svg');
    mask-image: url('/icons/new.svg');
  }

  &.download {
    -webkit-mask-image: url('/icons/arrow_down_tray.svg');
    mask-image: url('/icons/arrow_down_tray.svg');
  }

  &.resize {
    -webkit-mask-image: url('/icons/resize_corner.svg');
    mask-image: url('/icons/resize_corner.svg');
  }

  &.view {
    -webkit-mask-image: url('/icons/squares.svg');
    mask-image: url('/icons/squares.svg');
  }

  &.plus-circle {
    -webkit-mask-image: url('/icons/plus_circle.svg');
    mask-image: url('/icons/plus_circle.svg');
  }

  &.new-file {
    -webkit-mask-image: url('/icons/new_file.svg');
    mask-image: url('/icons/new_file.svg');
  }

  &.search {
    -webkit-mask-image: url('/icons/magnify_glass.svg');
    mask-image: url('/icons/magnify_glass.svg');
  }

  &.paint {
    -webkit-mask-image: url('/icons/paint_brush_solid.svg');
    mask-image: url('/icons/paint_brush_solid.svg');
  }

  &.color-picker {
    -webkit-mask-image: url('/icons/dropper.svg');
    mask-image: url('/icons/dropper.svg');
  }
}