@layer components {
  .start-window-container {
    position: absolute;
    overflow: hidden;
    top: -7rem;
    left: 2rem;
    pointer-events: none;

    & input {
      background-color: var(--color-one);
      padding: 0.3rem;
      color: var(--color-text);
      pointer-events: initial;
    }

    .start-window-content {
      transform: "translateY(100%)";
      display: none;
      /* background: "lightblue"; */
      width: max-content;
      border: 2px var(--border-style) var(--color-border);
      background-color: var(--color-one);
      border-radius: 5px;
      list-style: none;
      z-index: 999;
      pointer-events: initial;
    }
  }
}