@layer components {
  .about-me {
    min-width: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 21px 21px;
    /* padding: 2rem; */
    overflow: hidden;


    & hr {
      width: 50%;
      max-width: 440px;
      border: none;
      border-top: 1px outset #666666;
    }

    & h2, & h3 {
      width: 95cqw;
      transition: font-size 0.5s ease;
    }

    & h2 {
      color: #EAEAEA;
    }

    & h3 {
      color: #A9A9A9;
    }

    & img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      max-width: 12rem;
      border-radius: 50%;
      transition: all 0.5s ease;
    }

    & p {
      transition: font-size 0.5s ease;
      font-size: 0.8rem;
      text-align: justify;
      display: inline-block;
    }

    & .about-me-wrapper {
      display: flex;
      flex-direction: column;
      /* justify-content: stretch; */
      align-items: center;
      gap: 30px;
      margin-top: 2rem;
      min-height: 520px;
      transition: all 0.3s ease;
    }

    & .about-me-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .about-me-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-align: center;
      width: max-content;
    }

    & .about-me-text {
      color: #B0C4DE;
      max-width: 700px;
      min-width: 300px;
      max-height: 130px;

      overflow: auto;
      max-width: 80%;
    }


    & .about-me-image, & .about-me-title, & .about-me-text {
      transition: all 0.3s ease;
    }

    @media screen {
      @media (max-width: 600px) {
        & h2 {
          font-size: 1.5rem;
          font-weight: 600;
          text-shadow: 0 1px 2px #0000004c;
          margin-top: 2rem;
          margin-bottom: 1rem;
        }

        & h3 {
          font-size: 1rem;
          font-weight: 500;
          /* padding-bottom: 2rem; */
          margin-bottom: 1rem;
        }

        & .about-me-text {
          bottom: 15% !important;
          height: max-content !important;
          overflow: auto !important;

          & p {
            font-size: 0.8rem !important;
          }


        }
      }

      @media (min-width: 600px) {
        & h2 {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        & h3 {
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }


      }
    }
  }

  @container (min-width: 700px) {
    .about-me {
      opacity: 1;
      transform: scale(1);

      & h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }


      & .about-me-image {
        width: max-content;

      }



      & .about-me-text {
        overflow: visible !important;

        & p {
          font-size: 1rem;
        }
      }
    }
  }

  @container (max-width: 699px) {

    & .about-me-wrapper {
      opacity: 1;
      gap: 0;

      transform: scale(1);

      & .about-me-image {
        width: max-content;

        & img {
          width: 10rem;
        }
      }

      & .about-me-title {

        & h2 {
          font-size: 2rem;
        }

        & h3 {
          font-size: 1rem;
        }
      }
    }
  }

  @container (min-height: 50px) {

    .about-me {
      opacity: 1;
      transform: scale(1);

      & .about-me-image {
        transform: translate(-50%, -70%);
        width: max-content;

        & img {
          width: 11rem;
        }
      }

      & .about-me-title {

        transform: translate(-50%, -50%);


        & h2 {
          font-size: 2rem;
        }

        & h3 {
          font-size: 1rem;
        }
      }

      & .about-me-text {
        transform: translate(-50%, 200%);
      }
    }
  }



  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .project-card {
    padding: 1rem;
    border-radius: var(--border-radius);
    background: #1f3449;
    box-shadow: 0 2px 8px #0000001a;
  }

  .window-content {

    & .contact-form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 4rem;
      width: 100%;

      & .input-container {
        position: relative;
        width: 100%;
        height: mfit-content;

        & .placeholder {
          position: absolute;
          left: 1rem;
          top: 0.8rem;
          font-size: 1rem;
          color: var(--c-text);
          pointer-events: none;
          -webkit-user-select: none;
          user-select: none;
        }

        & input, & textarea {
          width: 100%;
          padding: 1rem;
          background-color: var(--c-background-focus);
          border: 1px solid var(--c-background-focus);
          border-radius: var(--border-radius);
          color: var(--c-text);
          font-family: inherit;

          &::placeholder {
            color: #ffffff;
            visibility: visible;
          }


          &::placeholder {
            visibility: hidden;
            opacity: 0.4;
          }

          &:focus::placeholder {
            visibility: visible;
          }


          &:focus {
            outline: none;
            background-color: var(--c-background);
          }
        }
      }

      & textarea {
        min-height: 150px;
        max-height: 50vh;
        resize: vertical;
        color: inherit;

      }

      & button {
        justify-self: start;
        /* padding: */
        background: var(--c-accent);
        border: none;
        border-radius: var(--border-radius);
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s;
        color: inherit;
        width: 100%;

        &:hover {
          background: var(--c-accent-hover);
        }
      }
    }
  }

  @media screen {
    @media (min-width: 600px) {
      & .contact-form {
        max-width: 600px;

        & input, & textarea {
          min-width: 300px;
          max-width: 600px;
        }

        & button {
          width: initial;
        }
      }
    }
  }

  .browser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--c-background);
    position: relative;
    overflow: hidden;

    & .browser-header {
      width: 100%;
      height: 50px;
      padding: 0.6rem;
      gap: 0.5rem;
      background-color: var(--c-background2);
      display: flex;
      align-items: center;
      top: 0;
      left: 0;

      & .browser-controls {
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 0.6rem;
        padding: 0 1rem;

        & .control-button {
          width: 1.2rem !important;
          height: 1.2rem !important;
          border-radius: 50%;

          background-color: none !important;
          fill: var(--c-text);
          border: none;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--c-accent-hover);
          }
        }
      }

      & .website-input {
        justify-self: center;
        width: 100%;
        padding: 0.4rem 1rem;
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--c-background-focus);
        color: var(--c-text);
        font-family: inherit;
        font-size: 0.8rem;

        &::placeholder {
          color: #ffffff;
          opacity: 0.6;
        }

        &:focus {
          outline: none;
          background-color: var(--c-background);
        }
      }

    }

    & .browser-frame-container {
      width: 100%;
      height: 100%;
      position: relative;

      & .browser-frame {
        width: 100%;
        height: 100%;
        position: absolute;
        border: none;
        top: 0;
        left: 0;
      }
    }

  }
}