@layer components {
  .window {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--color-background-2);
    border-radius: var(--border-radius);
    border: 1px solid #ffffff00;
    box-shadow: 0 16px 32px #0000000c;
    color: var(--color-text);
    min-width: max-content;
    min-height: 10%;
    max-width: 100%;
    max-height: calc(100dvh - var(--taskbar-height));
    display: none;
    overflow: hidden;
    resize: both;
    transition: margin 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;

    &:active {
      transition: none;
    }

    &.maximized {
      max-height: calc(100% - var(--taskbar-height)) !important;
      border-radius: 0 !important;
      border-width: 0px !important;
      resize: none !important;
    }

    &.open, &.focus:not(.minimized) {
      display: flex;
      flex-direction: column;
    }

    &.focus:not(.minimized):not(.maximized) {
      box-shadow: 0px 16px 38px 16px rgba(0, 0, 0, 0.2), 0px 16px 35px 1px rgba(0, 0, 0, 0.2), 0px 16px 35px 1px rgba(0, 0, 0, 0.2), 0px 16px 35px 1px rgba(0, 0, 0, 0.2), 0px 16px 35px 1px rgba(0, 0, 0, 0.2);
      transition: margin 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
      border-color: var(--color-header-active);
    }

    &:not(.focus):not(.minimized):not(.maximized) {
      border-color: var(--color-border);
    }

    &.minimized {
      display: none;
    }

    &.fade-out {
      opacity: 1;
      transition: opacity 0.08s ease-out;
    }

    &.hidden {
      opacity: 0;
    }

    & .window__header {
      height: var(--window-header-height);
      background: var(--color-header-inactive);
      min-width: max-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      -webkit-user-select: none;
      user-select: none;
      transition: background-color 0.2s ease;

      & .icon {
        background-color: var(--color-icon-bg) !important;
      }

      .maximized & {
        pointer-events: none;
      }

      .focus:not(.minimized) & {
        transition: background-color 0.2s ease;
        background: var(--color-header-active);
      }

      & .window__header-title {
        flex-grow: 1;
        height: 100%;
        cursor: move;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        gap: 1rem;
      }

      & .window__header-controls {
        display: flex;
        align-items: center;
        flex-grow: 0;
        height: 100%;
        pointer-events: initial;

        & button {
          width: var(--window-header-height);
          height: var(--window-header-height);
          border: none;
          background: transparent;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s;

          & button:nth-child(2) {
            padding: 0;
          }

          &:hover {
            background-color: #5ba6cf7c;
          }

          &>.icon {
            max-width: 14px;
            max-height: 14px;
          }

          &.window__header-controls-close:hover {
            background-color: #ef4444;
            color: #ffffff;
          }
        }

        @media screen and (max-width: 600px) {
          & button:nth-child(2) {
            display: none;
          }
        }
      }
    }

    & .window__content {
      position: sticky;
      width: 100%;
      min-width: fit-content;
      min-width: webkit-fill-available;
      min-height: 0;
      height: 100%;
      overflow: auto;

      background-color: var(--color-secondary-background);
      background-image: var(--pattern-1);

      position: relative;
      container-type: size;

      @media screen and (max-width: 600px) {
        overflow: hidden;
      }
    }


  }

  @media screen and (max-width: 600px) {
    .window {
      max-width: 100vw !important;
      max-height: calc(100vh - var(--taskbar-height)) !important;
      top: var(--taskbar-height) !important;
      left: 0 !important;
      border-radius: 0;
      border: none !important;
      resize: none !important;

      & .window__header {
        border-radius: 0;
        min-height: calc(var(--window-header-height)/2);
        height: calc(var(--window-header-height)/2);
      }


      & .window__content {
        max-width: 100% !important;
        max-height: calc(85vh - var(--taskbar-height)) !important;
      }

    }
  }
}