/* Display */
.block         { display: block !important; }
.inline        { display: inline !important; }
.inline-block  { display: inline-block !important; }
.none        { display: none !important; }
.flex          { display: flex !important; }
