@layer components {
  .taskbar {
    & .start-menu {
      & .start-menu__toggler {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1818186f;

        border: none;
        cursor: var(--cursor-pointer);
        border-radius: 0.5rem;
        transition: background-color 0.2s;

        &.visible {
          background-color: #ffffff1a;
        }

        & .start-menu__toggler-icon {
          flex-shrink: 0;
          width: 1.7rem !important;
          height: 1.8rem !important;
          background-color: #0dcaf0 !important;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          -webkit-mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;

          mask-position: center;
          border-radius: 5px;
        }

        &:hover {
          background-color: #ffffff43;
        }

        &:active {
          background-color: #ffffff1a;

          &>* {
            transition: all 0.2s;
            transform: scale(0.8);
          }
        }
      }

      & .start-menu__container {
        position: absolute;
        overflow: hidden;
        bottom: 3rem;
        left: 0.5rem;
        pointer-events: none;
        z-index: -1;

        & .start-menu__content {
          position: relative;
          transform: translateY(100%);
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          width: max-content;
          -webkit-backdrop-filter: var(--taskbar-backdrop-filter);
          backdrop-filter: var(--taskbar-backdrop-filter);
          background: var(--taskbar-color);
          border: var(--taskbar-border);
          border-bottom: none;
          border-radius: var(--border-radius);
          list-style: none;
          pointer-events: initial;

          & .start-menu__search-file-input-container {
            position: relative;
            display: inline-block;

            & .start-menu__search-file-icon {
              position: absolute;
              width: 1.2rem !important;
              height: 1.2rem !important;
              left: 10px;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              transition: all 0.2s;
              background-color: transparent !important;
              filter: grayscale(0.5) brightness(100%);
            }


            & .start-menu__search-file-icon:has(~.start-menu__search-file-input:focus) {
              filter: grayscale(0) brightness(200%);
              background-color: var(--c-primary);
            }

            & .start-menu__search-file-input {
              width: 100%;
              padding: 0.5rem 3rem;
              background-color: var(--c-background-focus);
              /* opacity: 0.5; */
              border: 1px solid var(--c-background-focus);
              border-radius: 50px;
              color: var(--c-text);
              font-family: inherit;
              transition: background-color 0.2s, opacity 0.2s;



              &::placeholder {
                color: #ffffff;
                visibility: visible;
              }


              &::placeholder {
                visibility: hidden;
                opacity: 0.4;
              }

              &:focus::placeholder {
                visibility: visible;
              }


              &:focus {
                outline: none;
                background-color: var(--c-background) !important;
                /* opacity: 1; */
              }
            }
          }

          & .start-menu__search-content {
            height: 12rem;
            width: 30rem;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
          }

          & .start-menu__history-container {
            border: none;
            color: var(--c-text);
            overflow: hidden;
            padding-top: 1rem;

            & .start-menu__history {
              height: 13rem;
              width: 30rem;
              list-style: none;
              display: flex;
              flex-direction: column;
              overflow-y: auto;
              gap: 5px;

              & .start-menu__history-item {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem 1rem;
                line-height: 2rem;
                background-color: var(--color-two);
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                  background-color: #ffffff1a;
                }

                & .start-menu__history-item-icon {
                  flex-shrink: 0;
                  width: 2rem !important;
                  height: 2rem !important;
                  background-color: transparent !important;
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-size: contain;
                  -webkit-mask-position: center;
                  mask-repeat: no-repeat;
                  mask-size: contain;
                  mask-position: center;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}