@layer components {
  .taskbar {
    & .start-menu {
      & .start-menu__toggler {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1818186f;

        border: none;
        cursor: var(--cursor-pointer);
        border-radius: 0.5rem;
        transition: background-color 0.2s;

        &.visible {
          background-color: #ffffff1a;
        }

        & .start-menu__toggler-icon {
          flex-shrink: 0;
          width: 1.7rem !important;
          height: 1.8rem !important;
          background-color: #0dcaf0 !important;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          -webkit-mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;

          mask-position: center;
          border-radius: 5px;
        }

        &:hover {
          background-color: #ffffff43;
        }

        &:active {
          background-color: #ffffff1a;

          &>* {
            transition: all 0.2s;
            transform: scale(0.8);
          }
        }
      }

      & .start-menu__container, & .start-menu__container--mobile {
        position: absolute;
        overflow: hidden;
        bottom: 3rem;
        left: 0.5rem;
        pointer-events: none;
        z-index: -1;

        & .start-menu__wrapper {
          position: relative;
          /* transform: translateY(100%); */
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          width: max-content;
          -webkit-backdrop-filter: var(--taskbar-backdrop-filter);
          backdrop-filter: var(--taskbar-backdrop-filter);
          background: var(--taskbar-color);
          border: var(--taskbar-border);
          border-bottom: none;
          border-radius: var(--border-radius);
          list-style: none;
          pointer-events: initial;

          & .start-menu__header {
            width: 100%;
            position: relative;
            display: inline-block;
            padding: 1.5rem;

            & .start-menu__search-file-icon {
              position: absolute;
              width: 1.2rem !important;
              height: 1.2rem !important;
              left: 2.5rem;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              transition: all 0.2s;
              background-color: transparent !important;
              filter: grayscale(0.5) brightness(150%);
            }


            & .start-menu__search-file-icon:has(~.start-menu__search-file-input:focus) {
              filter: grayscale(0) brightness(200%);
              background-color: var(--color-primary);
            }

            & .start-menu__search-file-input {
              width: 100%;
              padding: 0.5rem 3rem;
              background-color: var(--color-background-focus);
              /* opacity: 0.5; */
              border: 1px solid var(--color-background-focus);
              border-radius: 50px;
              color: var(--color-text);
              font-family: inherit;
              transition: background-color 0.2s, opacity 0.2s;



              &::placeholder {
                color: #ffffff;
                opacity: 1;
              }



              &:focus::placeholder {
                visibility: visible;
                opacity: 0.4;
              }


              &:focus {
                outline: none;
                background-color: var(--color-background) !important;
                /* opacity: 1; */
              }
            }
          }

          & .start-menu__fieldset {
            border: none;
            color: var(--color-text);
            overflow: hidden;
            padding: 0 2rem;
            padding-top: 1rem;

            & .start-menu__list {
              height: 13rem;
              width: 30rem;
              list-style: none;
              display: flex;
              flex-direction: column;
              overflow-y: auto;
              gap: 5px;


              & .start-menu__list-item {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 0.8rem;
                padding: 0.5rem 1rem;
                line-height: 2rem;
                background-color: var(--color-two);
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                  background-color: #ffffff1a;
                }

                & .start-menu__list-item-icon {
                  flex-shrink: 0;
                  width: 2rem !important;
                  height: 2rem !important;
                  background-color: transparent !important;
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-size: contain;
                  -webkit-mask-position: center;
                  mask-repeat: no-repeat;
                  mask-size: contain;
                  mask-position: center;
                  border-radius: 5px;
                }

                & .tests {
                  background-color: transparent !important;

                  &>*:hover,
                  &>*:active,
                  &>*:focus {
                    background-color: transparent !important;
                  }


                }
              }
            }


          }

          & .start-menu__footer {
            position: absolute !important;
            bottom: 0 !important;
            left: 0 !important;
            background: #1212124c !important;
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 3rem;
            border-radius: 0 0 0.5rem 0.5rem;

            & .start-menu__footer-button {
              height: 2.5rem;
              padding: 0.5rem 1rem;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;
              background-color: transparent;
              border: none;
              cursor: pointer;
              color: transparent;
              transition: background-color 0.2s ease-in-out;

              &:hover {
                background-color: #ffffff1a;
              }

              &:active {
                background-color: #ffffff10;
              }

              & .start-menu__footer-button-icon {
                flex-shrink: 0;
                width: 2rem !important;
                height: 2rem !important;
                background-color: transparent !important;
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                -webkit-mask-position: center;
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
                border-radius: 5px;
              }
            }
          }
        }
      }


      & .start-menu__container--mobile {
        width: 100vw;
        height: calc(100vh - var(--taskbar-height));
        position: absolute;
        overflow: hidden;
        top: var(--taskbar-height);
        left: 0;

        & .start-menu__wrapper {
          transform: translate(0,-100%);
          width: 100%;
          height: calc(100vh - var(--taskbar-height));
          border-radius: 0;
          padding: 0;


          & .start-menu__fieldset {
            border: none;
            color: var(--color-text);
            overflow: hidden;
            padding: 0;
            padding-top: 0.5rem;

            & legend {
              padding: 0 1rem;
            }

            & .start-menu__list {
              height: 10rem;
              width: 100%;
              list-style: none;
              display: flex;
              flex-direction: column;
              overflow-y: auto;
              gap: 5px;
            }
          }

          & .start-menu__footer {
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            background: var(--taskbar-color) !important;
            height: fit-content;
            width: 100%;
            flex-direction: row-reverse;
            padding: 0.5rem 1rem;
            border-radius: 0;

            & .start-menu__footer-button {
              flex-direction: row-reverse;
            }
          }
        }
      }
    }
  }
}