@layer components {
  .taskbar {
    & .start-menu {
      & .start-menu__toggler {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1818186f;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: none;
        cursor: var(--cursor-pointer);
        border-radius: 0.5rem;
        transition: background-color 0.2s;

        & .start-menu__toggler-icon {
          flex-shrink: 0;
          width: 1.7rem !important;
          height: 1.8rem !important;
          background-color: #0dcaf0 !important;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          -webkit-mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;

          mask-position: center;
          border-radius: 5px;
        }

        &:hover {
          background-color: #ffffff43;
        }

        &:active {
          background-color: #ffffff1a;

          &>* {
            transition: all 0.2s;
            transform: scale(0.8);
          }
        }


      }

      & .start-menu__container {
        position: absolute;
        overflow: hidden;
        bottom: 3rem;
        left: -1px;
        pointer-events: none;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);

        & .start-menu__content {
          transform: translateY(100%);
          padding: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          width: max-content;
          background: #181818;

          border: 1px var(--border-style) var(--c-border);
          border-bottom: none;
          border-radius: 5px 5px 0 0;
          list-style: none;
          z-index: 999;
          pointer-events: initial;

          & .start-menu__search-file-input-container {
            position: relative;
            display: inline-block;

            & .start-menu__search-file-icon {
              position: absolute;
              width: 1.2rem !important;
              height: 1.2rem !important;
              left: 10px;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              transition: all 0.2s;
              background-color: transparent !important;
              filter: grayscale(0.5) brightness(100%);
            }


            & .start-menu__search-file-icon:has(~.start-menu__search-file-input:focus) {
              filter: grayscale(0) brightness(200%);
              background-color: var(--c-primary);
            }

            & .start-menu__search-file-input {
              width: 100%;
              padding: 0.5rem 3rem;
              background-color: var(--c-background-focus);
              /* opacity: 0.5; */
              border: 1px solid var(--c-background-focus);
              border-radius: 50px;
              color: var(--c-text);
              font-family: inherit;
              transition: background-color 0.2s, opacity 0.2s;



              &::placeholder {
                color: #ffffff;
                visibility: visible;
              }


              &::placeholder {
                visibility: hidden;
                opacity: 0.4;
              }

              &:focus::placeholder {
                visibility: visible;
              }


              &:focus {
                outline: none;
                background-color: var(--c-background) !important;
                /* opacity: 1; */
              }
            }
          }

          & .start-menu__search-content {
            height: 12rem;
            width: 30rem;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
          }

          & .start-menu__history-container {
            border: 1px solid var(--color-four);
            color: var(--c-text);

            & .start-menu__history {
              height: 12rem;
              width: 30rem;
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 5px;
            }
          }
        }
      }
    }
  }
}