:root {
  --taskbar-height: 40px;
  --taskbar-color: #181818ed;
  --taskbar-backdrop-filter: blur(10px);
  --taskbar-border-color: 2px solid #292929;
}

@layer components {
  .taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--taskbar-height);
    border-top: var(--taskbar-border);
    background: var(--taskbar-color);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 10000;
    -webkit-user-select: none;
    user-select: none;

    & .icon {
      background-color: var(--c-icon-bg);
    }

  }

  @media screen {
    @media (max-width: 600px) {
      .taskbar {
        top: 0;
      }
    }
  }
}