@layer components {
  .taskbar {
    & .taskbar__right-section {

      display: flex;
      align-items: center;
      color: #ffffff;

      & .container {
        display: block;
        position: relative;
        padding-right: 35px;
        margin-right: 15px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all 0.3s ease;

        &:hover {
          & input~.checkmark {
            background-color: #ccc;
          }
        }

        & input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          transition: all 0.3s ease;

          &:checked~.checkmark {
            background-color: #2196F3;

            &:hover {
              filter: brightness(1.2);
            }

            &:after {
              display: block;
            }

          }
        }

        & .checkmark {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 5px;
          height: 22px;
          width: 22px;
          background-color: #eee;
          transition: all 0.3s ease;

          &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }

      & .language-selector__container {
        cursor: var(--cursor-pointer);
        position: relative;

        & .language-selector__toggler {
          font-size: small;
          background-color: none;
          background: none;
          color: var(--color-text);
          border: none;
          padding: 0.5rem;
          border-radius: 0.5rem;
          transition: background-color 0.2s;

          &.visible {
            background-color: #ffffff1a;
          }

          &:hover {
            background-color: #ffffff33;
          }
        }

        & .language-selector__wrapper {

          position: absolute;
          overflow: hidden;
          top: calc(5px - 7rem);
          right: -7.5rem;
          pointer-events: none;


          & .language-selector__list {
            transform: translateY(100%);
            display: flex;
            flex-direction: column;
            width: max-content;
            -webkit-backdrop-filter: var(--taskbar-backdrop-filter);
            backdrop-filter: var(--taskbar-backdrop-filter);
            background: var(--taskbar-color);
            border: var(--taskbar-border);
            border-bottom: none;
            opacity: inherit;
            border-radius: var(--border-radius);
            list-style: none;
            z-index: 999;
            cursor: var(--cursor-pointer);
            pointer-events: initial;


            & .language-selector__item {
              width: 200px;
              padding: 0.5rem 1rem;
              line-height: 2rem;
              background-color: var(--color-two);
              -webkit-user-select: none;
              user-select: none;
              border-left: 2px solid rgba(255, 255, 255, 0);

              &:hover {
                background-color: #ffffff33;
              }

              &:active {
                background-color: var(--color-two);
              }

              &.enabled {
                background-color: var(--color-four);
                border-left: 2px solid var(--color-primary);
              }
            }
          }
        }
      }

      @media screen {
        @media (max-width: 600px) {
          & .language-selector__container {

            /* transform: translateY(-1); */

            & .language-selector__wrapper {
              top: 2.45rem !important;
              /* transform: translateY(-1); */

              & .language-selector__list {
                transform: translateY(-100%);
              }
            }
          }
        }

      }

      /* Clock inside the taskbar */
      & .clock {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: right;
        padding: 0 1rem;
        font-size: 0.8rem;
      }
    }
  }
}