@layer components {
  .calculator {
    width: 100cqi;
    height: 100cqb;
    min-width: 300px;
    min-height: 400px;
    overflow: hidden;

    & .calculator-visor {
      font-size: 3rem;
      text-overflow: ellipsis;
      width: 100%;
      height: 25%;
      padding: 0 20px;
      text-align: right;
      background-color: var(--color-header-active);
      color: var(--color-text);
      border: none;
      transition: font-size 0.2s;

    }

    & .calculator-visor::placeholder {
      color: var(--color-text);
    }

    & .calculator-keys-container {
      width: 100%;
      height: 100%;

      & .calculator-keys-list {
        width: 100%;
        height: 75%;
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(4, minmax(80px, 1fr));
        background-color: var(--color-background-1);

        & .calculator-key {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          user-select: none;
          transition: font-size 0.2s;

          & sup {
            margin-bottom: 10px;
            font-size: 0.7rem;
          }

          &.main-key {
            background-color: var(--color-background-3);

            &:hover {
              background-color: var(--color-background-2);
            }

            &:active {
              background-color: var(--color-background-3);
            }
          }

          &.operation {
            background-color: var(--color-background-2);

            &:hover {
              background-color: var(--color-background-3);
            }

            &:active {
              background-color: var(--color-background-2);
            }
          }

          &.double-cell {
            grid-column: span 2;
          }

          &.result {
            background-color: var(--color-accent);

            &:hover {
              background-color: var(--color-accent-hover);
            }

            &:active {
              background-color: var(--color-accent);
            }
          }
        }
      }
    }

    @container (min-width: 800px) {
      & .calculator-visor {
        font-size: 4.5rem;
      }

      & .calculator-key {
        font-size: 1.5rem;
      }
    }

  }
}