@layer components {
  .change-background__container {
    min-width: 400px;

    & .change-background__title {
      max-width: 400px;
      text-align: center;
      margin-bottom: 2rem;
      height: 3rem;
    }

    & .change-background__wrapper {
      display: flex;
      justify-content: space-around;

      & .change-background__control-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        & .react-colorful__saturation {
          border-radius: var(--border-radius) !important;
        }

        & .react-colorful__hue {
          border-radius: 0 !important;
        }

        & .react-colorful__hue-pointer {
          width: 1rem !important;
          height: inherit;
          border-radius: 0 !important;
        }


      }

      & .change-background__options-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .change-background__options-list {
          border: 1px solid var(--c-border);
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px;

          legend {
            font-weight: bold;
          }

          & .change-background__option {
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            gap: 5px;
            justify-content: left;


          }
        }
      }
    }
  }
}