@layer components {
  .change-background__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & .change-background__wrapper {
      display: flex;
      width: 100%;
      height: 100%;

      & .change-background__main {
        flex: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem;


        & .change-background__title {
          max-width: 700px;
          text-align: left;
          height: 3rem;
        }

        & .change-background__preview {
          min-width: 320px;
          min-height: 240px;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid var(--c-border);
        }
      }

      & .change-background__aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: var(--c-background1);
        border-left: 1px solid var(--c-border);
        padding: 2rem;


        & .change-background__aside-picker {
          width: 200px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          gap: 2rem;

          & .react-colorful__saturation {
            border-radius: var(--border-radius) !important;
          }

          & .react-colorful__hue {
            border-radius: 0 !important;
          }

          & .react-colorful__hue-pointer {
            width: 1rem !important;
            height: inherit;
            border-radius: 0 !important;
          }

          & .change-background__file-input {
            display: none;

          }

        }

        & .change-background__options-wrapper {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          width: 100%;
          padding: 1rem;

          & .change-background__options-list {
            width: 5rem;
            border: none;
            display: flex;
            justify-content: center;
            gap: 2rem;
            padding: 0.5rem;
/* 
            legend {
              padding: 0;
              font-weight: bold;
            } */

            & .change-background__option {
              margin-left: 0.5rem;
              font-family: 'Courier New', Courier, monospace;
              display: flex;
              gap: 5px;
              justify-content: left;


            }
          }
        }
      }
    }
  }
}