@layer components {
  .change-background__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & .change-background__wrapper {
      display: flex;
      width: 100%;
      height: 100%;

      & .change-background__main {
        flex: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem;


        & .change-background__title {
          max-width: 700px;
          text-align: left;
          height: 3rem;
        }

        & .change-background__preview {
          min-width: 320px;
          min-height: 240px;
          width: 100%;
          height: 100%;
          background-size: cover !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
          border: 1px solid var(--c-border);
        }

      }

      & .change-background__aside {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: var(--c-background1);
        border-left: 1px solid var(--c-border);
        padding: 0;

        & .change-background__aside-header {
          width: 100%;
          padding: 2rem 0;
          text-align: center;
          font-weight: bold;
        }

        & .change-background__aside-main {
          flex-grow: 2;
          display: flex;
          flex-direction: column;
          width: 100%;

          & .change-background__options-field {
            width: 100%;
            border: none;
            border-top: 1px solid;
            border-color: var(--c-border);
            display: flex;
            justify-content: center;
            gap: 4rem;
            padding: 0.5rem 2rem;


            & .change-background__display-option {
              font-family: 'Courier New', Courier, monospace;
              display: flex;
              gap: 5px;
              justify-content: left;
            }
          }

          & .change-background__filter-field {
            width: 100%;
            height: 150px;
            border: none;
            border-top: 1px solid;
            border-color: var(--c-border);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            gap: 0.2rem;
            padding: 0.5rem 2rem;

            & .change-background__filter-slider-container {
              width: 100%;
              font-family: 'Courier New', Courier, monospace;
              display: flex;
              justify-content: space-between;
              align-items: center;

              & .change-background__filter-slider-label {
                width: 6rem;

              }

              & .change-background__filter-slider-wrapper {
                flex: 2;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 1rem;
              }


              & .change-background__filter-input-number {
                box-sizing: content-box;
                width: 3rem;
                text-align: right;
                background-color: var(--c-background2);
                color: var(--c-text);

                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                  opacity: 1;
                }
              }
            }
          }

          & .change-background__picker-field {

            width: 100%;
            border: none;
            border-top: 1px solid;
            border-color: var(--c-border);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            gap: 0.2rem;
            padding: 0.5rem 2rem;

            & .change-background__picker-wrapper {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              gap: 2rem;
              padding: 0.5rem 0;

              & .change-background__color-input-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                & .change-background__color-slider {
                  position: relative;
                  appearance: none;
                  outline: none;
                  height: 0.8rem;
                }

                input[type="range"]::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  appearance: none;
                  width: 0.6rem;
                  height: 1.1rem;
                  border: 1px solid #000;
                  outline: 1px solid #fff;
                  border-radius: 0;
                  cursor: pointer;

                }

                input[type="range"]::-moz-range-thumb {
                  width: 0.6rem;
                  height: 1.1rem;
                  border: 1px solid #000;
                  outline: 1px solid #fff;
                  cursor: pointer;
                }

                input[type="range"]::-ms-thumb {
                  width: 0.6rem;
                  height: 1.1rem;
                  border: 1px solid #000;
                  outline: 1px solid #fff;
                  cursor: pointer;
                }

                & .change-background__color-input {
                  position: relative;
                  width: 3.3rem;
                  font-family: 'Courier New', Courier, monospace;
                  text-align: left;
                  background-color: var(--c-background1);
                  padding-left: 0.3rem;
                  font-weight: bold;
                  transition: all 0.1s ease-in-out;
                  border-radius: 2px;
                  outline-style: none;



                  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                    opacity: 1;
                  }



                  &.r {
                    color: #FF6347;


                    &:focus {

                      border-color: #FF6347;
                    }

                    &::placeholder {
                      color: #FF6347ae;

                    }
                  }

                  &.g {
                    color: #0f0;


                    &:focus {
                      border-color: #0f0;
                    }

                    &::placeholder {
                      color: #00ff00ae;

                    }
                  }

                  &.b {
                    color: #8FE3FF;


                    &:focus {
                      border-color: #8FE3FF;
                    }

                    &::placeholder {
                      color: #8FE3FFae;

                    }

                  }


                }
              }

              & .react-colorful__saturation {
                border-radius: var(--border-radius) !important;
              }

              & .react-colorful__hue {
                border-radius: 0 !important;
              }

              & .react-colorful__hue-pointer {
                width: 1rem !important;
                height: inherit;
                border-radius: 0 !important;
              }

              & .change-background__file-input {
                display: none;

              }

            }
          }
        }

        & .change-background__aside-footer {
          position: sticky;
          bottom: 0;
          width: 100%;

          & .change-background__save-button {
            box-shadow: none !important;
            border-radius: 0 !important;
            min-width: 100% !important;
            height: 3rem !important;
            font-size: medium;
          }
        }
      }


    }

    @media screen and (max-width: 600px) {

      .change-background__main {
        max-height: fit-content;
        padding: 0rem !important;

        & .change-background__title {
          height: 1rem !important;
        }

        & .change-background__preview {
          max-height: fit-content;
          max-width: fit-content;
        }
      }

      .change-background__wrapper {
        flex-direction: column !important;
        overflow: auto;
        width: 100%;
        height: 100%;

      }

      .change-background__aside {
        font-size: 0.9rem;
        width: 100% !important;

        border: none !important;
        border-top: 1px solid var(--c-border) !important;
        padding: 0.5rem 0 !important;
        max-height: fit-content;
        max-width: 100vw;
        overflow: auto;


        & .change-background__picker-wrapper {
          height: max-content !important;

          gap: 1rem !important;
        }

        & .change-background__filters-list {
          max-height: 100px;
          ;
        }

        /* button {
          width: 8rem !important;
          height: 6rem !important;
          border-radius: 50px !important;
        } */
      }
    }
  }
}