@layer components {
  .about-me {

    min-height: 500px;
    width: 100cqi;
    height: 100cqb;
    overflow: hidden;

    & .about-me__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      min-height: 520px;
      transition: all 0.3s ease;
      padding: 2rem 1rem 3rem 1rem;



      @container (max-width: 600px) {
        gap: 15px;
        padding: 1rem 0.5rem 2rem 0.5rem;
      }

      & .about-me__image {
        object-fit: contain;
        object-position: center;
        width: 100%;
        max-width: 12rem;
        border-radius: 50%;
        transition: all 0.5s ease;
        border: 10px solid var(--color-muted);
        border-style: outset;

        @container (max-width: 600px) {
          width: 10rem;
          border: 5px solid var(--color-muted);
          border-style: outset;
        }
      }

      & .about-me__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: center;
        width: max-content;

        & h2, & h3 {

          transition: font-size 0.75s ease;
        }

        & h2 {
          width: 90%;
          color: var(--color-text);
        }

        & h3 {
          width: 75%;
          font-size: 1rem !important;
          color: var(--color-text2);
        }

        & hr {
          margin: 2rem 0 0.5rem 0;
          width: 50%;
          max-width: 440px;
          border: none;
          border-top: 1px solid var(--color-background-7);
        }

        @container (max-width: 600px) {
          & h2 {
            font-size: 1.3rem;

            @container (max-width: 320px) {
              width: 80%;
            }
          }

          & h3 {
            font-size: 0.8rem;
          }

        }
      }

      & .about-me__text {
        padding: 0 0.5rem;
        color: var(--color-text1);
        max-width: 700px;
        min-width: min-content;
        height: 20%;
        overflow: auto;
        max-width: 80%;
        transition: font-size 0.5s ease;
        font-size: 1rem;
        text-align: justify;
        -webkit-hyphens: auto;
        hyphens: auto;
        display: inline-block;

        @container (max-width: 600px) {
          height: 40%;
          font-size: 0.9rem !important;
          margin-bottom: 1rem;

        }

        @container (min-height: 500px) {
          height: 40%;
        }
      }
    }
  }
}