@layer components {
  .about-me {

    min-height: 500px;
    width: 100cqi;
    height: 100cqb;
    overflow: hidden;



    & .about-me__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      min-height: 520px;
      transition: all 0.3s ease;
      padding: 2rem 1rem 3rem 1rem;



      @container (max-width: 600px) {
        gap: 15px;
        padding: 1rem 0.5rem 2rem 0.5rem;
      }

      & .about-me__image {
        object-fit: contain;
        object-position: center;
        width: 100%;
        max-width: 12rem;
        border-radius: 50%;
        transition: all 0.5s ease;
        border: 10px solid var(--color-muted);
        border-style: outset;

        @container (max-width: 600px) {
          width: 10rem;
          border: 5px solid var(--color-muted);
          border-style: outset;
        }
      }

      & .about-me__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: center;
        width: max-content;

        & h2, & h3 {

          transition: font-size 0.75s ease;
        }

        & h2 {
          width: 90%;
          color: var(--color-text);
        }

        & h3 {
          width: 75%;
          font-size: 1rem !important;
          color: var(--color-text2);
        }

        & hr {
          margin: 2rem 0 0.5rem 0;
          width: 50%;
          max-width: 440px;
          border: none;
          border-top: 1px solid var(--color-background-7);
        }

        @container (max-width: 600px) {
          & h2 {
            font-size: 1.3rem;

            @container (max-width: 320px) {
              width: 80%;
            }
          }

          & h3 {
            font-size: 0.8rem;
          }

        }
      }

      & .about-me__text {
        padding: 0 0.5rem;
        color: var(--color-text1);
        max-width: 700px;
        min-width: min-content;
        height: 20%;
        overflow: auto;
        max-width: 80%;
        transition: font-size 0.5s ease;
        font-size: 1rem;
        text-align: justify;
        -webkit-hyphens: auto;
        hyphens: auto;
        display: inline-block;

        @container (max-width: 600px) {
          height: 40%;
          font-size: 0.9rem !important;
          margin-bottom: 1rem;

        }

        @container (min-height: 500px) {
          height: 40%;
        }
      }
    }


  }

  /* & hr {
      width: 50%;
      max-width: 440px;
      border: none;
      border-top: 1px outset #666666;
    }

    & h2, & h3 {
      width: 95cqw;
      transition: font-size 0.75s ease;
    }

    & h2 {
      color: #EAEAEA;
    }

    & h3 {
      font-size: 1rem !important;
      color: #A9A9A9;
    }

    & img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      max-width: 12rem;
      border-radius: 50%;
      transition: all 0.5s ease;
    }

    & p {
      transition: font-size 0.5s ease;
      font-size: 0.8rem;
      text-align: justify;
      -webkit-hyphens: auto;
      hyphens: auto;
      display: inline-block;
    }

    & .about-me-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-top: 2rem;
      min-height: 520px;
      transition: all 0.3s ease;
    }

    & .about-me-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .about-me-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-align: center;
      width: max-content;
    }

    & .about-me-text {
      padding: 0 1rem;
      color: #B0C4DE;
      max-width: 700px;
      min-width: min-content;
      height: 22cqb;
      overflow: auto;
      max-width: 80%;
    }


    & .about-me-image, & .about-me-title, & .about-me-text {
      transition: all 0.3s ease;
    }

    @media screen {
      @media (max-width: 600px) {
        & h2 {
          font-size: 1.3rem;
          font-weight: 600;
          text-shadow: 0 1px 2px #0000004c;
          margin-top: 2rem;
          margin-bottom: 1rem;
        }

        & h3 {
          font-size: 0.9rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        & .about-me-text {
          bottom: 15% !important;
          height: max-content !important;
          overflow: auto !important;

          & p {
            font-size: 0.7rem !important;
          }


        }
      }

      @media (min-width: 600px) {
        & h2 {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        & h3 {
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

      }
    }
  }

  @container (min-width: 700px) {
    .about-me {
      opacity: 1;
      transform: scale(1);

      & h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }


      & .about-me-image {
        width: max-content;

      }

      & .about-me-text {
        height: 22cqb;

        & p {
          font-size: 1rem;
        }
      }
    }
  }

  @container (max-width: 699px) {
    .about-me {
      width: 100%;
      min-width: 0px;
      max-width: fit-content;

      @media screen {
        @media (max-width: 600px) {}

        @media (min-width: 600px) {
          padding-top: 2rem;
        }
      }

      & .about-me-wrapper {
        margin-top: 0;
        opacity: 1;
        gap: 0;

        transform: scale(1);

        & .about-me-image {
          width: max-content;

          & img {
            width: 10rem;
          }
        }

        @media screen {
          @media (max-width: 600px) {

            & h2 {
              font-size: 1.3rem;
            }

            & h3 {
              font-size: 0.9rem;
            }
          }

          @media (min-width: 600px) {
            & .about-me-image {
              margin-bottom: 2rem;
            }

            & h2 {
              font-size: 1.5rem;
              margin-bottom: 0;
            }

            & h3 {
              font-size: 1.1rem;
              margin-top: 0;
            }

            & hr {
              margin-bottom: 1rem;
            }
          }
        }

        & .about-me-text {
          min-width: none;
        }


      }
    }


  } */

  /* @container (min-height: 50px) {

    .about-me {
      opacity: 1;
      transform: scale(1);

      & .about-me-image {
        transform: translate(-50%, -70%);
        width: max-content;

        & img {
          width: 11rem;
        }
      }

      & .about-me-title {

        transform: translate(-50%, -50%);


        & h2 {
          font-size: 2rem;
        }

        & h3 {
          font-size: 1rem;
        }
      }

      & .about-me-text {
        transform: translate(-50%, 200%);
      }
    }
  } */
}