@layer components {
  .about-me {
    min-width: 400px;
    width: 100cqi;
    height: 100cqb;
    background-size: 21px 21px;
    overflow: hidden;

    & hr {
      width: 50%;
      max-width: 440px;
      border: none;
      border-top: 1px outset #666666;
    }

    & h2, & h3 {
      width: 95cqw;
      transition: font-size 0.75s ease;
    }

    & h2 {
      color: #EAEAEA;
    }

    & h3 {
      font-size: 1rem !important;
      color: #A9A9A9;
    }

    & img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      max-width: 12rem;
      border-radius: 50%;
      transition: all 0.5s ease;
    }

    & p {
      transition: font-size 0.5s ease;
      font-size: 0.8rem;
      text-align: justify;
      -webkit-hyphens: auto;
      hyphens: auto;
      display: inline-block;
    }

    & .about-me-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      /* justify-content: stretch; */
      align-items: center;
      gap: 30px;
      margin-top: 2rem;
      min-height: 520px;
      transition: all 0.3s ease;
    }

    & .about-me-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .about-me-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-align: center;
      width: max-content;
    }

    & .about-me-text {
      padding: 0 1rem;
      color: #B0C4DE;
      max-width: 700px;
      min-width: min-content;
      height: 22cqb;
      overflow: auto;
      max-width: 80%;
    }


    & .about-me-image, & .about-me-title, & .about-me-text {
      transition: all 0.3s ease;
    }

    @media screen {
      @media (max-width: 600px) {
        & h2 {
          font-size: 1.3rem;
          font-weight: 600;
          text-shadow: 0 1px 2px #0000004c;
          margin-top: 2rem;
          margin-bottom: 1rem;
        }

        & h3 {
          font-size: 0.9rem;
          font-weight: 500;
          /* padding-bottom: 2rem; */
          margin-bottom: 1rem;
        }

        & .about-me-text {
          bottom: 15% !important;
          height: max-content !important;
          overflow: auto !important;

          & p {
            font-size: 0.7rem !important;
          }


        }
      }

      @media (min-width: 600px) {
        & h2 {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        & h3 {
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

      }
    }
  }

  @container (min-width: 700px) {
    .about-me {
      opacity: 1;
      transform: scale(1);

      & h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }


      & .about-me-image {
        width: max-content;

      }

      & .about-me-text {
        height: 22cqb;
        /* overflow: visible !important; */

        & p {
          font-size: 1rem;
        }
      }
    }
  }

  @container (max-width: 699px) {
    .about-me {
      width: 100%;
      min-width: 0px;
      max-width: fit-content;

      @media screen {
        @media (max-width: 600px) {}

        @media (min-width: 600px) {
          padding-top: 2rem;
        }
      }

      & .about-me-wrapper {
        margin-top: 0;
        opacity: 1;
        gap: 0;

        transform: scale(1);

        & .about-me-image {
          width: max-content;

          & img {
            width: 10rem;
          }
        }

        @media screen {
          @media (max-width: 600px) {

            & h2 {
              font-size: 1.3rem;
            }

            & h3 {
              font-size: 0.9rem;
            }
          }

          @media (min-width: 600px) {
            & .about-me-image {
              margin-bottom: 2rem;
            }

            & h2 {
              font-size: 1.5rem;
              margin-bottom: 0;
            }

            & h3 {
              font-size: 1.1rem;
              margin-top: 0;
            }

            & hr {
              margin-bottom: 1rem;
            }
          }
        }

        & .about-me-text {
          min-width: none;
        }


      }
    }


  }

  /* @container (min-height: 50px) {

    .about-me {
      opacity: 1;
      transform: scale(1);

      & .about-me-image {
        transform: translate(-50%, -70%);
        width: max-content;

        & img {
          width: 11rem;
        }
      }

      & .about-me-title {

        transform: translate(-50%, -50%);


        & h2 {
          font-size: 2rem;
        }

        & h3 {
          font-size: 1rem;
        }
      }

      & .about-me-text {
        transform: translate(-50%, 200%);
      }
    }
  } */
}