.dark {
  /* Cores para modo escuro */
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #0dcaf0;
  --color-light: #e0e0e0;
  --color-dark: #000000;
  --color-muted: #adb5bd;

  /* Fundo alternativo escuro */
  --bg-body: #121212;
  --bg-surface: #1e1e1e;
  --text-body: #f8f9fa;
}