@layer base {
  :root {
    --color-hover: #f0f0f033;
    --color-rgb-hover: 240, 240, 240;

    --color-background: #121212;
    --color-background-hover: #323233;
    --color-background-1: #191919;
    --color-background-2: #232323;
    --color-background-2-t: #1f1f1f80;
    --color-background-3: #333333;
    --color-background-4: #5d5d5d;
    --color-background-5: #666666;
    --color-background-6: #808080;
    --color-background-7: #a0a0a0;
    --color-background-8: #c0c0c0;

    --color-desktop-bg: #131021;
    --color-desktop-default-bg: #131021;
    --color-rgb-desktop-bg-contrast: 255, 255, 255;
    --color-rgb-desktop-default-bg-contrast: 255, 255, 255;

    /* Blue tone palette */
    /* Very light blue */
    --blue-100: #d0eaff;
    /* Light blue */
    --blue-200: #a1d1ff;
    /* Medium light blue */
    --blue-300: #73b8ff;
    /* Secondary highlights */
    --blue-400: #5eb3ff;
    /* Main highlight) */
    --blue-500: #BB86FC;
    /* Hover or callouts */
    --blue-600: #1874cd;
    /* Contrasts in titles or buttons */
    /* Subtle focus */
    --blue-800: #124e8d;
    /* Details and reinforcing depth */
    --blue-900: #0f3e73;

    /* Cores de texto */
    --text-color: #fdfdfd;

    --color-text: #fdfdfd;
    --color-text1: #E0E0E0;
    --color-text2: #bdbdbd;
    --color-text3: #35db7a;
    --color-text4: #ff8679;

    --color-text-secondary: #A0A0A0;

    --color-secondary-background: #121212;

    --color-border: #393939;

    --color-hover: #323233;



    --color-error: #f48771;

    --color-success: #4caf50;

    --color-warning: #ffcc00;

    --color-accent: #005f99;
    --color-accent-hover: #007acc;


    --color-accent-focus: #0090ff;
    --color-background-focus: #3c3c3c;

    --color-header-active: #0a0a0a;
    --color-header-inactive: #2d2d2d;

    --color-primary: #1565c0;
    --color-primary-hover-dark: #134c97;
    --color-primary-hover-light: #4d90f9;
    --color-secondary: #6c757d;

    --color-icon-bg: #f0f0f0;

    --patern-1: none;

    --spacing-unit: 1rem;
    --border-radius: 0.5rem;
    --taskbar-height: 3rem;
    --window-header-height: 3rem;
    --border-style: solid;

    --input-required-border: #ff0000;
    --input-required-bg: #ffe6e6;
    --input-required-color: #ff0000;

    --cursor-pointer: default;
    --cursor-text: text;
    --cursor-move: move;
    --cursor-resize: ew-resize;
    --cursor-resize-vertical: ns-resize;
    --cursor-resize-diagonal: nwse-resize;
    --cursor-resize-diagonal-alt: nesw-resize;
    --cursor-resize-all: all-scroll;
    --cursor-not-allowed: not-allowed;
    --cursor-grabbing: grabbing;
    --cursor-grab: grab;
    --cursor-default: default;
    --cursor-help: help;
    --cursor-progress: progress;
    --cursor-wait: wait;
    --cursor-crosshair: crosshair;
    --cursor-zoom-in: zoom-in;
    --cursor-zoom-out: zoom-out;
    --cursor-move: move;
    --cursor-copy: copy;
    --cursor-alias: alias;
    --cursor-cell: cell;
    --cursor-context-menu: context-menu;
    --cursor-no-drop: no-drop;
    --cursor-all-scroll: all-scroll;
    --cursor-col-resize: col-resize;
    --cursor-row-resize: row-resize;
    --cursor-vertical-text: vertical-text;

    --box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10),
      1px 1px 0px rgba(0, 0, 0, 0.20),
      2px 2px 0px rgba(0, 0, 0, 0.30),
      3px 3px 0px rgba(0, 0, 0, 0.40),
      5px 5px 0px rgba(0, 0, 0, 0.50),
      6px 6px 0px rgba(0, 0, 0, 0.60),
      9px 9px 0px rgba(0, 0, 0, 0.70),
      12px 12px 0px rgba(0, 0, 0, 0.80),
      15px 15px 0px rgba(0, 0, 0, 0.90),
      18px 18px 0px rgba(0, 0, 0, 1.00),
      -1px 1px 0px rgba(0, 0, 0, 0.20),
      -2px 2px 0px rgba(0, 0, 0, 0.30),
      -3px 3px 0px rgba(0, 0, 0, 0.40),
      -5px 5px 0px rgba(0, 0, 0, 0.50),
      -6px 6px 0px rgba(0, 0, 0, 0.60),
      -9px 9px 0px rgba(0, 0, 0, 0.70),
      -12px 12px 0px rgba(0, 0, 0, 0.80),
      -15px 15px 0px rgba(0, 0, 0, 0.90),
      -18px 18px 0px rgba(0, 0, 0, 1.00);

    --s-text-outline: 1px 1px 0 #000000b4, 1px 0px 0 #000000b4, 0px 1px 0 #000000b4;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0 1px 0px #000000,
      0 -1px 0px #000000,
      1px 0px 0px #000000,
      -1px 0px 0px #000000,
  }

  html, body {
    height: 100%;
    overflow: hidden;
  }

  body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--color-text);

  }

  h1, h2, h3 {
    line-height: 1.2;
  }

  input:required:invalid {
    border: 2px solid var(--input-required-border);
    background-color: var(--input-required-bg);
    color: var(--input-required-color);
  }

  ul {
    list-style: none;
  }

  /* button {
    &.animating {
      animation: button 0.4s ease-out;
    }
  }

  @keyframes button {
    0% {
      box-shadow: 0px 0px 0px 0px rgb(111, 111, 111);
    }

    100% {
      box-shadow: 0px 0px 2px 10px #ffffff00;
    }
  } */

  .desktop {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: none !important;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
  }


  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    visibility: hidden;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-background-4) !important;
    border-radius: 0px !important;
    transition: background-color 0.4s ease;
    cursor: initial;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-background-6) !important;
    /* Um azul um pouco mais escuro no hover */
  }

  .no-scroll::-webkit-scrollbar-track,
  .no-scroll::-webkit-scrollbar-thumb {
    visibility: hidden;
  }

  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-background-5);
  } */


}