@import "./reset.css"layer(reset);
@import "./base.css"layer(base);
@import "./components.css"layer(components);
@import "./utilities.css"layer(utilities);
@import '../shared/styles/main.css'layer(utilities);


@layer reset, base, components, utilities;

/* @import '../scss/main.css'; */