@use 'variables.scss';

@layer utilities {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  @for $i from 1 through 9 {
    $step: $i * 100;

    .text-weight-#{$i} {
      font-weight: #{$step};
    }
  }

  @for $i from 0 through 5 {
    .flex-#{$i} {
      flex: #{$i};
    }
    .f-#{$i} {
      flex: #{$i};
    }
    .flex-grow-#{$i} {
      flex-grow: #{$i};
    }
    .flex-shrink-#{$i} {
      flex-shrink: #{$i};
    }
    .margin-#{$i} {
      margin: #{$i}rem;
    }
    .m-#{$i} {
      margin: #{$i}rem;
    }
    .margin-x-#{$i} {
      margin: 0 #{$i}rem;
    }
    .mx-#{$i} {
      margin: 0 #{$i}rem;
    }
    .margin-y-#{$i} {
      margin: #{$i}rem 0;
    }
    .my-#{$i} {
      margin: #{$i}rem 0;
    }
    .margin-left-#{$i} {
      margin-left: #{$i}rem;
    }
    .ml-#{$i} {
      margin-left: #{$i}rem;
    }
    .margin-right-#{$i} {
      margin-right: #{$i}rem;
    }
    .mr-#{$i} {
      margin-right: #{$i}rem;
    }
    .margin-top-#{$i} {
      margin-top: #{$i}rem;
    }
    .mt-#{$i} {
      margin-top: #{$i}rem;
    }
    .margin-bottom-#{$i} {
      margin-bottom: #{$i}rem;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}rem;
    }
    .padding-#{$i} {
      padding: #{$i}rem;
    }
    .p-#{$i} {
      padding: #{$i}rem;
    }

    .padding-x-#{$i} {
      padding: 0 #{$i}rem;
    }
    .px-#{$i} {
      padding: 0 #{$i}rem;
    }

    .padding-y-#{$i} {
      padding: #{$i}rem 0;
    }
    .py-#{$i} {
      padding: #{$i}rem 0;
    }

    .padding-bottom-#{$i} {
      padding-bottom: #{$i}rem;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}rem;
    }

    .padding-top-#{$i} {
      padding-top: #{$i}rem;
    }
    .pt-#{$i} {
      padding-top: #{$i}rem;
    }

    .padding-left-#{$i} {
      padding-left: #{$i}rem;
    }
    .pl-#{$i} {
      padding-left: #{$i}rem;
    }

    .padding-right-#{$i} {
      padding-right: #{$i}rem;
    }
    .pr-#{$i} {
      padding-right: #{$i}rem;
    }

    .border-radius-#{$i} {
      border-radius: #{$i}rem;
    }
  }

  @for $i from 0 through 10 {
    $step: 1 + $i * 0.2;

    .text-size-#{$i} {
      font-size: #{$step}rem;
    }

    .gap-#{$i} {
      gap: #{$i}rem;
    }
  }

  $cursors: pointer, text, resize, resize-vertical, resize-diagonal,
    resize-diagonal-alt, not-allowed, default, help, progress, wait, cell,
    context-menu, none, alias, copy, move, no-drop, grab, grabbing, col-resize,
    row-resize, all-scroll, zoom-in, zoom-out, auto, crosshair;

  @each $cursor in $cursors {
    .cursor-#{$cursor} {
      cursor: #{$cursor};
    }
  }

  $text-aligns: left, center, right, justify;

  @each $text-align in $text-aligns {
    .text-align-#{$text-align} {
      text-align: #{$text-align};
    }
  }

  $text-transforms: uppercase, lowercase, capitalize;

  @each $text-transform in $text-transforms {
    .text-#{$text-transform} {
      text-transform: #{$text-transform};
    }
  }

  $text-decorations: none, line-through, underline;

  @each $text-decoration in $text-decorations {
    .text-#{$text-decoration} {
      text-decoration: #{$text-decoration};
    }
  }

  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }

  .text-color-primary {
    color: var(--color-primary);
  }

  .text-color-secondary {
    color: var(--color-secondary);
  }

  .text-color-accent {
    color: var(--color-accent);
  }

  .text-color-error {
    color: var(--color-error);
  }

  .text-color-success {
    color: var(--color-success);
  }

  .text-color-warning {
    color: var(--color-warning);
  }

  .text-color-info {
    color: var(--color-info);
  }

  .text-bold {
    font-weight: bold;
  }

  .text-regular {
    font-weight: normal;
  }

  .text-italic {
    font-style: italic;
  }

  .text-normal {
    font-style: normal;
  }

  .text-decoration-none {
    text-decoration: none;
  }

  .text-linethrough {
    text-decoration: line-through;
  }

  .text-underline {
    text-decoration: underline;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .text-wrap {
    white-space: normal;
  }

  .text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-overflow-clip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .text-overflow-wrap {
    overflow: hidden;
    text-overflow: wrap;
    white-space: normal;
  }

  .text-overflow-scroll {
    overflow: scroll;
    text-overflow: clip;
    white-space: normal;
  }

  .text-overflow-auto {
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
  }

  .text-overflow-visible {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
  }

  .text-overflow-hidden {
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
  }

  .flex {
    display: flex;
  }

  $flex-directions: row, column, row-reverse, column-reverse;

  @each $flex-direction in $flex-directions {
    .flex-#{$flex-direction} {
      flex-direction: #{$flex-direction};
    }
  }

  $flex-wraps: wrap, wrap-reverse, nowrap;

  @each $flex-wrap in $flex-wraps {
    .flex-#{$flex-wrap} {
      flex-wrap: #{$flex-wrap};
    }
  }

  $flex-justifies: flex-start, flex-end, center, space-between, space-around,
    space-evenly, stretch;

  @each $flex-justify in $flex-justifies {
    .flex-#{$flex-justify} {
      justify-content: #{$flex-justify};
    }
  }

  $justify-selfs: flex-start, flex-end, center, space-between, space-around,
    space-evenly, stretch, start, end, left, right;

  @each $justify-self in $justify-selfs {
    .justify-self-#{$justify-self} {
      justify-self: #{$justify-self};
    }
  }

  $flex-aligns: flex-start, flex-end, center, space-between, space-around,
    stretch;

  @each $flex-align in $flex-aligns {
    .flex-#{$flex-align} {
      align-items: #{$flex-align};
    }
  }

  $align-selfs: flex-start, flex-end, center, space-between, space-around,
    stretch, start, end;

  @each $align-self in $align-selfs {
    .align-self-#{$align-self} {
      align-self: #{$align-self};
    }
  }

  .grid {
    display: grid;
  }

  $grid-numbers: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

  @each $grid-number in $grid-numbers {
    .grid-rows-#{$grid-number} {
      grid-template-rows: repeat(#{$grid-number}, 1fr);
    }

    .grid-columns-#{$grid-number} {
      grid-template-columns: repeat(#{$grid-number}, 1fr);
    }

    .grid-areas-#{$grid-number} {
      grid-template-areas: repeat(#{$grid-number}, 1fr);
    }

    .grid-#{$grid-number} {
      grid-template-columns: repeat(#{$grid-number}, 1fr);
    }

    .grid-#{$grid-number}-#{$grid-number} {
      grid-template-columns: repeat(#{$grid-number}, 1fr);
      grid-template-rows: repeat(#{$grid-number}, 1fr);
    }
  }

  .grid-template-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap: 1rem;
  }

  .grid-template-rows {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    gap: 1rem;
  }

  .grid-template-areas {
    display: grid;
    grid-template-areas: repeat(auto-fit, minmax(0px, 1fr));
    gap: 1rem;
  }

  .margin-auto {
    margin: auto;
  }

  .border-radius-circle,
  .border-radius-50-percent {
    border-radius: 50%;
  }

  .border-radius-pill,
  .border-radius-full,
  .border-radius-50 {
    border-radius: 50px;
  }

  .border-radius-top {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .border-radius-bottom {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .border-radius-left {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  .border-radius-right {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .border-radius-top-left {
    border-top-left-radius: var(--border-radius);
  }

  .border-radius-top-right {
    border-top-right-radius: var(--border-radius);
  }

  .border-radius-bottom-left {
    border-bottom-left-radius: var(--border-radius);
  }

  .border-radius-bottom-right {
    border-bottom-right-radius: var(--border-radius);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

noscript {
  font-size: large;
  background-color: #07080c;
  color: #ffffff;
  padding: 10px;
  border-radius: var(--border-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
