@layer components {

  /* Main taskbar container */
  .taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--taskbar-height);
    border-top: 2px solid #292929;
    background: #181818;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;

    /* Start button styling */
    .start-button {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-one);
      border: none;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: background-color 0.2s;
      color: #ffffff;

      /* Icon inside the start button */
      &>* {
        width: 40px;
        height: 40px;
      }

      /* Hover effect for start button */
      &:hover {
        background-color: #ffffff43;
      }

      /* Active (pressed) effect for start button */
      &:active {
        background-color: #ffffff1a;

        &>* {
          transition: all 0.2s;
          transform: scale(0.8);
        }
      }
    }

    /* Start menu container */
    .start-menu-container {
      position: absolute;
      overflow: hidden;
      bottom: 4rem;
      left: 2rem;
      pointer-events: none;


      .start-menu-content {
        transform: translateY(100%);
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: max-content;
        border: 2px var(--border-style) var(--c-border);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        background: var(--c-secondary-background);
        border-radius: 5px;
        list-style: none;
        z-index: 999;
        pointer-events: initial;

        .input-container {
          position: relative;
          display: inline-block;

          .icon {
            position: absolute;
            width: 20px !important;
            height: 20px !important;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
            pointer-events: none;
          }

          input {
            width: 100%;
            border-radius: 50px;
            text-indent: 30px;
            background-color: var(--color-four);
            border: 1px solid var(--color-four);
            padding: 0.3rem;
            color: var(--color-text);
            pointer-events: initial;

            &:focus {
              background-color: var(--color-three);
              outline: none;
            }
          }
        }

        .search-content {
          height: 12rem;
          width: 30rem;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
        }

        .history-container {
          border: 1px solid var(--color-four);

          /* History list inside the start menu */
          .start-menu-history {
            height: 12rem;
            width: 30rem;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
          }
        }
      }




      /* .start-menu {} */
    }

    /* Taskbar items container */
    .taskbar-items {
      flex: 1;
      display: flex;
      gap: 0.5rem;
      margin: 0 2rem;
      overflow-x: auto;

      /* Hide scrollbar for taskbar items */
      &::-webkit-scrollbar {
        display: hidden;
      }

      /* Individual taskbar item */
      .taskbar-item {
        height: 40px;
        padding: 0 0.5rem;
        display: none;
        align-items: center;
        background-color: var(--color-one);
        color: #ffffff;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s;

        /* Hover effect for taskbar item */
        &:hover {
          background-color: #ffffff43;
        }

        /* Active (pressed) effect for taskbar item */
        &:active {
          background-color: #ffffff1a;

          &>* {
            transition: all 0.2s;
            transform: scale(0.8);
          }
        }

        /* Display taskbar items based on state */
        &.focus, &.minimized, &.open {
          display: flex;
        }

        /* Focused taskbar item styling */
        &.focus:not(.minimized) {
          background-color: #ffffff1a;

          &:hover {
            background-color: #ffffff43;
          }

          &:active {
            background-color: #ffffff1a;

            &>* {
              transition: all 0.2s;
              transform: scale(0.8);
            }
          }
        }
      }
    }

    /* Right section of the taskbar */
    .taskbar-right {
      display: flex;
      align-items: center;
      color: #ffffff;

      .language {
        cursor: pointer;
        position: relative;

        .language-button {
          font-size: small;
          background-color: none;
          background: none;
          color: var(--color-text);
          border: none;
          padding: 0.5rem;
          border-radius: 0.5rem;
          transition: background-color 0.2s;

          &:hover {
            background-color: #ffffff33;
          }
        }

        .language-list-container {
          position: absolute;
          overflow: hidden;
          top: -7rem;
          left: -3rem;
          pointer-events: none;


          .language-list {
            transform: translateY(100%);
            display: flex;
            flex-wrap: wrap;
            background: "lightblue";
            width: max-content;
            border: 2px var(--border-style) var(--c-border);
            background-color: var(--c-background);
            border-radius: 5px;
            list-style: none;
            z-index: 999;
            cursor: pointer;
            pointer-events: initial;


            li {

              width: 100%;
              padding: 0.5rem 1rem;
              line-height: 2rem;
              background-color: var(--color-two);
              -webkit-user-select: none;
              user-select: none;
              border-left: 2px solid rgba(255, 255, 255, 0);

              &.active {

                background-color: var(--color-four);
                border-left: 2px solid var(--color-primary);
              }
            }
          }
        }
      }

      /* Clock inside the taskbar */
      .clock {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: right;
        padding: 0 1rem;
        font-size: 0.8rem;
      }
    }
  }
}