.send-message {
  position: relative;
  width: 100cqi;
  height: 100cqb;
  display: flex;
  justify-content: center;
  align-items: center;

  & .send-message__form {
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem;
    margin: 0 3rem;

    & .input-container {
      position: relative;
      min-width: 0;
      width: 100%;
      height: fit-content;

      & .placeholder {
        position: absolute;
        left: 1rem;
        top: 1rem;
        font-size: 1rem;
        color: var(--color-text);
        opacity: 1;
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
        transition: color 0.4s ease;

      }

      & input, & textarea {
        padding: 1rem;
        width: 100%;
        background-color: var(--color-background-focus);
        border: 1px solid var(--color-background-focus);
        border-radius: var(--border-radius);
        color: var(--color-text);
        font-family: inherit;

        &::placeholder {
          color: #ffffff;
          opacity: 0.4;
          visibility: hidden;
        }

        &:focus::placeholder {
          visibility: visible;
        }

        &:focus {
          outline: none;
          background-color: var(--color-background);
        }
      }
    }

    & h2 {
      min-width: 0;
    }

    & textarea {
      background-color: transparent;
      padding: 1rem;
      width: 100%;
      height: 100%;
      min-height: 150px;
      color: inherit;
      resize: vertical;
    }

    & button {
      width: 100% !important;
      min-height: 2.5rem;
      background: var(--color-accent);
      border: none;
      border-radius: var(--border-radius);
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s;
      color: inherit;


      &:hover {
        background: var(--color-accent-hover);
      }
    }
  }

  @media screen {
    @media (max-width: 600px) {
      & .send-message__form {
        gap: 1.5rem;
        padding-left: 0;
        padding-right: 0;
        max-width: 600px;

        & .input-container {
          min-width: 300px !important;
          max-width: 600px !important;
        }

        input, textarea, button {
          border-radius: 0 !important;
          width: 100% !important;
        }

        h2 {
          min-width: 300px !important;
        }


        button {
          position: sticky;
          bottom: 0;
          min-width: 100% !important;

        }

        & input, & textarea {
          margin-bottom: 0rem !important;
        }
      }
    }
  }
}