@layer components {

  .tests {
    width: 100cqi;
    height: 100cqh;
    display: flex;
    flex-direction: column;


    & .tests-nav {
      width: 100%;
      height: 3rem;
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: row;

      & .tests-nav__list {
        display: flex;
        flex-direction: row;

        gap: 0.5rem;
      }
    }
  }
}