@layer components {

  .console-command {
    font-size: large;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    display: block;
    background-color: #000000;
    text-overflow: clip;
    white-space: wrap;
    top: 0;
    left: 0;
    color: white;

    & .console-command__output {
      flex: 1;
      white-space: pre-wrap;
      word-break: break-word;
      line-break: anywhere;
      font-size: 1.2rem;
      font-family: Consolas, "courier new", sans-serif;
      resize: none;
      background-color: #000000;
      color: white;
    }

    & .console-command__input-container {}

    & .console-command__directory {
      white-space: pre-wrap;
      word-break: break-word;
      font-size: 1.2rem;
      font-family: Consolas, "courier new", sans-serif;
      resize: none;
      background-color: #000000;
      color: white;
    }

    & .console-command__input {
      outline: none;
      flex: 1;
      white-space: pre-wrap;
      word-break: break-word;
      background-color: #000000;
      color: 'white';
      cursor: default;
      font-size: 1.2rem;
      font-family: Consolas, "courier new", sans-serif;
      flex-shrink: 0;
      border: none;
      resize: none;
    }

    span {
      align-self: baseline;
      cursor: default;
      display: inline;
      font-family: Consolas, "courier new", sans-serif;
      flex-shrink: 1;

    }
  }
}





.filho:has(.filho & ~ *:focus) {
  display: block;
  
}