@import './ConsoleCommand/styles.css';
@import './Settings/index.css';
@import './FilesExplorer/styles/index.css';
@import './Calculator/styles.css';
@import './Notepad/Notepad.styles.css';
/* @import './StickyNotes/styles.css'; */