@layer components {
  .change-background__container {
    width: 100cqi;
    height: 100cqb;
    display: flex;
    flex-direction: column;

    & .change-background__wrapper {
      display: flex;
      width: 100%;
      height: 100%;

      & .change-background__main {
        flex: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem;


        & .change-background__title {
          max-width: 700px;
          text-align: left;
          height: 3rem;
        }

        & .change-background__preview-container {
          position: relative;
          min-width: 320px;
          min-height: 240px;
          width: 100%;
          height: 100%;
          border: none;
          outline: 2px solid var(--border-color-muted);

          & .change-background__preview {
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            border: none;

          }

          & .change-background__preview-layer-1 {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 320px;
            min-height: 240px;
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            border: none;
            background: transparent !important;
          }

        }

      }

      & .change-background__aside {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-background-1);
        border-left: 2px solid var(--border-color-muted);
        padding: 0;

        & .change-background__aside-header {
          width: 100%;
          padding: 2rem 0 0 0;
          text-align: center;
          font-weight: bold;

          & .change-background__options-field {
            margin-top: 1.5rem;
            text-align: left;
            font-weight: normal;
            width: 100%;
            border: none;
            border-top: 1px solid;
            display: flex;
            justify-content: center;
            gap: 4rem;
            padding: 1rem 2rem;

            & .change-background__display-option {
              font-family: 'Courier New', Courier, monospace;
              display: flex;
              gap: 5px;
              justify-content: left;
            }
          }
        }

        & .change-background__aside-main {
          min-height: 30cqb;
          position: relative;
          flex-grow: 2;
          display: flex;
          flex-direction: column;
          width: 100%;

          & .change-background__filter-field {
            width: 100%;
            /* height: 50cqb; */
            height: 100cqb;
            max-height: 40cqb;
            border: none;
            border-top: 1px solid;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            align-items: center;
            gap: 0.2rem;
            padding: 0.5rem 0rem;

            & .change-background__filter-content-wrapper {
              flex-grow: 2;
              width: 100%;
              max-height: fit-content;
              overflow-y: scroll;


              & .change-background__filter-slider-container {
                width: 100%;
                font-family: 'Courier New', Courier, monospace;
                display: flex;
                justify-content: center;
                align-items: center;

                & .change-background__filter-slider-label {
                  width: 6rem;

                }

                & .change-background__filter-slider-wrapper {
                  flex: 2;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: right;
                  gap: 1rem;
                }


                & .change-background__filter-input-number {
                  box-sizing: content-box;
                  width: 3.1rem;
                  font-size: 1rem;
                  text-align: left;
                  background-color: var(--bg-dark);
                  border-radius: 2px;
                  color: var(--color-text);
                  border: none !important;

                  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                    opacity: 1;
                  }
                }
              }
            }
          }

          & .change-background__gradient-field {
            display: flex;
            justify-content: left;
            align-items: center;
            border: none;
            padding: 1rem 2rem;
            border-top: 1px solid;
            text-align: left;
            flex-direction: column;
            font-weight: normal;
            width: 100%;

            & .change-background__gradient-field-checkbox {
              border: none;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              justify-content: start;
              align-items: start;
              padding: 1rem;
              -webkit-user-select: none;
              user-select: none;

            }

            & .change-background__gradient-field-radio {
              border: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;
              gap: 1rem;
              padding: 1rem;
              -webkit-user-select: none;
              user-select: none;
            }

            & .change-background__gradient-field-angle {
              box-sizing: content-box;
              width: 3.1rem;
              font-size: 1rem;
              text-align: left;
              background-color: var(--bg-dark);
              border-radius: 2px;
              color: var(--color-text);
              border: none !important;

              &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                opacity: 1;
              }
            }
          }

          & .change-background__picker-field {
            background-color: var(--color-background-1);
            width: 100%;
            border: none;
            border-top: 1px solid;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            gap: 0.2rem;
            padding: 2rem;

            & .change-background__picker-wrapper {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              gap: 2rem;
              padding: 0.5rem 0;

              & .change-background__color-input-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                & .change-background__color-slider {
                  position: relative;
                  appearance: none;
                  outline: none;
                  height: 0.8rem;
                }

                input[type="range"]::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  appearance: none;
                  width: 0.6rem;
                  height: 1.1rem;
                  border: 1px solid #000;
                  outline: 1px solid #fff;
                  border-radius: 0;
                  cursor: pointer;

                }

                input[type="range"]::-moz-range-thumb {
                  width: 0.6rem;
                  height: 1.1rem;
                  border: 1px solid #000;
                  outline: 1px solid #fff;
                  cursor: pointer;
                }

                input[type="range"]::-ms-thumb {
                  width: 0.6rem;
                  height: 1.1rem;
                  border: 1px solid #000;
                  outline: 1px solid #fff;
                  cursor: pointer;
                }

                & .change-background__color-input {
                  position: relative;
                  width: 3.3rem;
                  font-family: 'Courier New', Courier, monospace;
                  text-align: left;
                  background-color: var(--color-background-1);
                  padding-left: 0.3rem;
                  font-weight: bold;
                  transition: all 0.1s ease-in-out;
                  border-radius: 2px;
                  outline-style: none;



                  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                    opacity: 1;
                  }



                  &.r {
                    color: #FF6347;


                    &:focus {

                      border-color: #FF6347;
                    }

                    &::placeholder {
                      color: #FF6347ae;

                    }
                  }

                  &.g {
                    color: #0f0;


                    &:focus {
                      border-color: #0f0;
                    }

                    &::placeholder {
                      color: #00ff00ae;

                    }
                  }

                  &.b {
                    color: #8FE3FF;


                    &:focus {
                      border-color: #8FE3FF;
                    }

                    &::placeholder {
                      color: #8FE3FFae;

                    }

                  }


                }
              }

              & .react-colorful__saturation {
                border-radius: var(--border-radius) !important;
              }

              & .react-colorful__hue {
                border-radius: 0 !important;
              }

              & .react-colorful__hue-pointer {
                width: 1rem !important;
                height: inherit;
                border-radius: 0 !important;
              }

              & .change-background__file-input {
                display: none;

              }

            }
          }
        }

        & .change-background__aside-footer {
          position: sticky;
          bottom: 0;
          width: 100%;

          & .change-background__save-button {
            box-shadow: none !important;
            border-radius: 0 !important;
            min-width: 100% !important;
            height: 3rem !important;
            font-size: medium;
          }
        }
      }


    }

    @media screen and (max-width: 600px) {

      .change-background__main {
        max-height: fit-content;
        padding: 0rem !important;

        & .change-background__title {
          height: 1rem !important;
        }

        & .change-background__preview {

          max-height: fit-content;
          max-width: fit-content;



        }
      }

      .change-background__wrapper {
        flex-direction: column !important;
        overflow: auto;
        width: 100%;
        height: 100%;

      }

      .change-background__aside {
        font-size: 0.9rem;
        width: 100% !important;

        border: none !important;
        border-top: 1px solid var(--color-border) !important;
        padding: 0.5rem 0 !important;
        max-height: fit-content;
        max-width: 100vw;
        overflow: auto;


        & .change-background__picker-wrapper {
          height: max-content !important;

          gap: 1rem !important;
        }

        & .change-background__filters-list {
          max-height: 100px;
          ;
        }

        /* button {
          width: 8rem !important;
          height: 6rem !important;
          border-radius: 50px !important;
        } */
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    --switch-width: 2rem;
    --switch-height: 1.15rem;
    --toggle-size: calc(var(--switch-width) - var(--switch-height));
    --toggle-padding: 0.15rem;
    width: var(--switch-width);
    height: var(--switch-height);
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .toggle:before {
    position: absolute;
    content: "";
    height: var(--toggle-size);
    width: var(--toggle-size);
    left: var(--toggle-padding);
    bottom: var(--toggle-padding);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.toggle {
    background-color: #2196F3;
  }

  input:focus+.toggle {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.toggle:before {
    -webkit-transform: translateX(var(--toggle-size));
    -ms-transform: translateX(var(--toggle-size));
    transform: translateX(var(--toggle-size));
  }

  /* Rounded sliders */
  .toggle.round {
    border-radius: 34px;
  }

  .toggle.round:before {
    border-radius: 50%;
  }
}