@layer components {
  & .notepad {
    width: 100%;
    height: 100%;

    & .notepad__nav {
      padding: 0.5rem;
      border: none;
    }

    & .notepad__text {
      height: 100%;
      width: 100%;
      padding: 1rem;
      background-color: var(--color-background-1);
      color: var(--color-text);
      resize: none;
      border: none;

      &:focus {
        outline: none;
      }
    }

  }
}