@layer components {
  .window-content {
    display: flex;
    justify-content: center !important;
    align-items: center !important;

    & .task-manager {
      width: 100%;
      height: 100%;
      max-height: 600px;
      max-width: 800px;
      background: var(--color-background-2);
      color: var(--color-text);
      overflow: hidden;

      & .task-manager-header {
        display: flex;
        align-items: center;
        padding: 1rem;
        font-weight: bold;

        & .task-manager-title {
          width: 100%;
          height: 100%;
        }
      }

      & .task-manager-main {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 300px;
        gap: 0.5rem;
        border-bottom: 1px solid var(--color-border);

        overflow-y: auto;

        & .task-list-header {
          width: 100%;
          position: sticky;
          margin-top: -2px;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: left;
          background-color: var(--color-background-2);
          border-bottom: 1px solid var(--color-border);
          border-top: 1px solid var(--color-border);

          & .task-list-header-row {
            width: 100%;
            padding: 0 1rem;

            & .task-list-header-cell {
              padding: 0.2rem 0rem;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: left;
              cursor: var(--cursor-pointer);
              gap: 0.5rem;
              user-select: none;
              transition: all 0.1s ease-in-out;

              & .icon {
                width: 1.1rem !important;
                height: 1.1rem !important;
              }
            }

            &:hover {
              background-color: var(--color-border);
            }

            &:active {
              background-color: var(--color-border-active);
            }
          }
        }

        & .task-list-body {
          padding: 0.5rem 1rem;
          table-layout: fixed;
          overflow-y: auto;
          width: 100%;
          height: 100%;
          gap: 0.5rem;

          & .task-row {
            display: flex;
            align-items: center;
            justify-content: left;
            padding: 0.2rem 1rem;
            width: 100%;
            height: 100%;
            cursor: var(--cursor-pointer);
            gap: 0.5rem;
            user-select: none;

            &:hover {
              background-color: var(--color-border);
            }

            &:active {
              background-color: var(--color-border-active);
            }

            &.selected {
              background-color: var(--color-border);

              &:active {
                background-color: var(--color-border-active);
              }
            }

            transition: all 0.1s ease-in-out;

            & .task-name-cell {
              flex-grow: 1;
              font-size: 0.8rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%;


            }

            & .task-status-cell {

              width: 100px;
              text-align: right;
              color: var(--color-text-secondary);
            }


          }

        }
      }

      .task-manager-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 1rem;
      }
    }
  }
}