@layer components {
  & .notepad {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & .notepad__nav {
      width: 100%;
      height: 2rem;
      border: none;
      background-color: var(--color-background);
      border-bottom: 1px solid var(--color-background-1);

      z-index: 1;
    }

    & .notepad__text {
      flex-grow: 0;
      min-height: 0;
      max-height: 100%;
      height: 100%;
      width: 100%;
      padding: 1rem;
      background-color: var(--color-background-2);
      color: var(--color-text);
      resize: none;
      border: none;

      &:focus {
        outline: none;
      }
    }

  }
}