@layer components {

  /* Main container for the desktop layout */
  .background {

    height: 100vh;
    width: 100vw;
    position: absolute;
    background: var(--c-desktop-bg);
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;

    /* Container for desktop icons */

  }
}